<header class='full-width header--feature' {{#if feature_image}}style='background-image: url({{img_url feature_image}})'{{/if}}>
  <div class='row'>
    <div class='header__logo small-5 medium-offset-2 medium-4 large-offset-1 large-3 columns'>
      {{#if @site.logo}}
        <a href='{{@site.url}}'><img class="header__logo__img" src="{{@site.logo}}" alt="{{@site.title}}" /></a>
      {{else}}
        <a class='header__logo__a-txt' href='{{@site.url}}'><span class='header__logo--txt'>{{@site.title}}</span></a>
      {{/if}} 
    </div>
    <div class='header__right small-4 small-offset-3 medium-2 medium-offset-2 large-3 large-offset-4 end columns'>
      {{#is "home, post"}} 
        <a href='#subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{else}}
        <a href='{{ @site.url }}/subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{/is}}
    </div>
  </div><!--row-->
  <div class='row'>
    <div class='small-12 medium-8 medium-offset-2 columns header--feature__title-box'>
      {{#has visibility="members"}}<span class='members-flare--feature'><img src='{{asset "img/lock.svg"}}'> Members only</span>&nbsp;&nbsp;{{/has}}
      <span class='header--feature__tag-bar'>{{tags separator=", "}}</span>
      <h1 class='header--feature__heading'>{{title}}</h1> 
      {{#is "post"}}<div class='header--feature__metadata-bar'>{{t "By"}} {{authors}}</div>{{/is}}
    </div>
  </div>
</header>
