<header class='full-width header--feature' {{#if feature_image}}style='background-image: url({{img_url feature_image}})'{{/if}}>
  <div class='row'>
    <div class='header__logo small-5 medium-offset-2 medium-4 large-offset-1 large-3 columns'>
      {{#if @blog.logo}}
        <a href='{{@blog.url}}'><img class="header__logo__img" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{else}}
        <a class='header__logo__a-txt' href='{{@blog.url}}'><span class='header__logo--txt'>{{@blog.title}}</span></a>
      {{/if}} 
    </div>
    <div class='header__right small-4 small-offset-3 medium-2 medium-offset-2 large-3 large-offset-4 end columns'>
      {{#if @labs.subscribers}}
      {{#is "home, post"}} 
        <a href='#subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{else}}
        <a href='/subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{/is}}
      {{/if}}
    </div>
  </div<!--row-->
  <div class='row'>
    <div class='small-12 medium-8 medium-offset-2 columns header--feature__title-box'>
      <span class='header--feature__tag-bar'>{{tags separator=", "}}</span>
      <h1 class='header--feature__heading'>{{title}}</h1> 
      {{#is "post"}}<div class='header--feature__metadata-bar'>{{t "By"}} {{author}} &middot; <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></div>{{/is}}
    </div>
  </div>
</header>
