<footer class='footer full-width'>
<div class='row'>
  <section class='small-12 medium-offset-2 medium-2 large-offset-1 large-2 columns'>
  <h2 class='footer__heading'>{{t "Categories"}}</h2>
  <ul class='footer__tags'> 
    {{#get "tags"}}
      {{#foreach tags}}
        <li class='footer__tags__li'>
        <a class='footer__tags__li__a' href="{{url}}" title="{{name}}">{{name}}</a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
  </section>

  <section class='small-12 medium-3 columns'>
  <h2 class='footer__heading'>{{t "Latest"}}</h2>
  <ul class='footer__latest'>
    {{#get "posts" limit="3" filter="tags:-[books]" as |latest_posts|}}
    {{#foreach latest_posts}}
      <li class='footer__latest__li'><a href="{{url}}" class="footer__latest__li__a" title="{{title}}">{{title}}</a></li>
    {{/foreach}}
    {{/get}}
  </ul>
  </section>
  
  <section class='small-12 medium-2 end columns'>
  <h2 class='footer__heading'>{{t "Colophon"}}</h2>
  <section class='footer__copyright'><a href='{{@site.url}}'>{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
  <ul class='social__ul'>
    {{#if @site.facebook}}
      <li class='social__li'><a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a></li>
    {{/if}}
    {{#if @site.twitter}}
      <li class='social__li'><a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a></li>
    {{/if}}
    <li class='social__li'><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a></li>
  </ul>
  <p class='footer__theme-credit'>{{t "Published using"}} <a class='footer__theme-credit__a' href='https://commoncog.com/blog/commonplace-theme'>Commonplace</a>, {{t "powered by"}} <a class='footer__theme-credit__a' href='https://ghost.org'>Ghost</a></p>
  </section>
</div>
</footer>
