<header class='full-width header' {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}}){{/if}}">
  <div class='row'>
    <div class='header__logo small-4 medium-offset-2 medium-3 large-offset-1 large-2 columns'>
      {{#if @blog.logo}}
        <a href='{{@blog.url}}'><img class="header__logo__img" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{else}}
        {{@blog.title}}
      {{/if}} 
    </div>
    <div class='header__right small-4 small-offset-4 medium-2 medium-offset-3 large-4 large-offset-4 end columns'>
      {{#if @labs.subscribers}}
      {{#is "home, post"}} 
        <a href='#subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{else}}
        <a href='/subscribe' class='button btn--white--hollow'>{{t "Subscribe"}}</a>
      {{/is}}
      {{/if}}
    </div>
  </div>
</header>
