<header class='full-width header' {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}}){{/if}}">
  <div class='row small-collapse medium-collapse large-collapse'>
    <div class='header__logo small-4 medium-offset-2 medium-3 large-offset-1 large-2 columns'>
      {{#if @blog.logo}}
        <a href='{{@blog.url}}'><img class="header__logo__img" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{else}}
        {{@blog.title}}
      {{/if}} 
    </div>
    <div class='header__right'></div>
  </div>
</header>
