<div class="sidebar">
  <section class='sidebar__desc'>
  <h2 class='sidebar__heading'>{{t "About"}}</h2>
  <p class='sidebar__desc_p'>{{@site.description}}</p>
  </section>

  {{#if @site.navigation}}
    <nav class='sidebar__nav'>
    <h2 class='sidebar__heading'>{{t "Explore"}}</h2>
    {{navigation}}
    </nav>
  {{/if}}

  <section class='sidebar__social'>
  <h2 class='sidebar__heading'>{{t "Social"}}</h2>
  <ul class='social__ul'>
    {{#if @site.facebook}}
      <li class='social__li'><a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a></li>
    {{/if}}
    {{#if @site.twitter}}
      <li class='social__li'><a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a></li>
    {{/if}}
    <li class='social__li'><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a></li>
  </ul>
  </section>
</div>
