{{!< default}}
{{> header}}
{{#post}}
  <div class='row'>
    <div class='small-12 medium-6 medium-offset-3 columns'>
      <section class='post-page-header'>
      {{#has visibility="members"}}<span class='members-flare'><img src='{{asset "img/lock.svg"}}'> Members only</span>&nbsp;&nbsp;{{/has}}
      <h1 class="post-page-header__title">{{title}}</h1>
      {{#if feature_image}}<img src='{{img_url feature_image}}' alt='{{t "Feature image for"}} {{title}}'/>{{/if}}
      <hr/>
      </section>
      <section class='post-page-content'>
      {{#if access}}
        {{ content }}
      {{else}}
        {{#if custom_excerpt}}
          <p class='post__custom-excerpt'>{{custom_excerpt}}</p>
        {{/if}}
        {{> members-only}}
      {{/if}}
      </section>
    </div>
  </div>
{{/post}}
<br/><br/>
{{> footer}}
{{#contentFor "scripts"}}
  <script>
    $(document).ready(function () {
    var $postContent = $(".post-page-content");
    $postContent.fitVids();
    });
  </script>
{{/contentFor}}
