{{!< default}}
{{#post}}
{{> feature-header}}
<div class='row'>
    <div class='small-12 medium-8 medium-offset-2 columns'>
      <section class='post-page-content--feature'>
      {{ content }}
      </section>
    </div>
  <div class='small-12 medium-8 medium-offset-2 end columns'>
    {{> sidebar}}
  </div>
</div>
<div class='row post-page__bottom-meta'>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 ck-subscribe-box end columns'>
  <script async data-uid="9956498baf" src="https://postcognito-pte-ltd.ck.page/9956498baf/index.js"></script>
  </br>
  </div>
  {{#is "post"}}
  <div class='small-12 medium-8 medium-offset-2 end columns'>
    <div class='row small-uncollapse medium-collapse'>
      {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="3" as |related_posts|}}
        <div class='small-12 columns post-page__related'>
          <h2 class='post-page__related__heading'>{{t "More in"}} {{../primary_tag.name}}:</h2>
          <ul class='post-page__related__ul'>
          {{#foreach related_posts}}
            <li class='post-page__related__li'><a class='post-page__related__a' href='{{url}}'>{{title}}</a></li>
          {{/foreach}}
          </ul>
        </div>
        {{/get}}
      {{/if}}
    </div><!--row-->
    <div class='row small-uncollapse'>
      <div class='small-12 medium-6 columns post-page__next-prev--left'>
      {{#prev_post}}
        <h4 class='post-page__next-prev__subheading'>{{t "Previous post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">&larr; {{title}}</a></h3>
      {{/prev_post}}
      </div>
      <div class='small-12 medium-6 columns post-page__next-prev--right'>
      {{#next_post}}
        <h4 class='post-page__next-prev__subheading'>{{t "Next post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">{{title}} &rarr;</a></h3>
      {{/next_post}}
      </div>
    </div><!--row-->
  </div>
  {{/is}}
</div>
{{/post}}
{{> footer}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
    var $postContent = $(".post-page-content--feature");
    $postContent.fitVids();
  });
</script>
{{/contentFor}}

