<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{ghost_head}}

</head>
<body class="{{body_class}}">

    {{{body}}}

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "js/jquery.fitvids.min.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>
</html>

