{{!< default}}
{{> header}}

{{#get "posts" filter="tag:-[podcast,video]" limit=@config.posts_per_page as |normal_posts|}}
<div class='row'>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 columns'>
      {{#foreach normal_posts limit="1"}}
        <article class="{{post_class}} post">
        {{#if feature_image}}
          <a href='{{url}}'><img class="post-header__feature-img" src="{{img_url feature_image}}" alt="{{t 'Feature image for'}} {{title}}"/></a>
        {{/if}}
        <h2 class="post-header__title"><a class="post-header__title-link" href="{{url}}">{{{title}}}</a></h2>
        <p class="post__excerpt__p-hero">{{excerpt words="15"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
        <hr class='home__hr'/>
        </article>
      {{/foreach}}
      {{#foreach normal_posts from="2" to="3"}}
        <article class="{{post_class}} post">
          <div class='row'>
          {{#if feature_image}}
            <section class='small-4 columns'>
            <a href='{{url}}'><img class="post-header__feature-img--secondary" src="{{img_url feature_image}}" alt="{{t 'Feature image for'}} {{name}}"/></a>
            </section>
            <section class='small-8 columns'>
            <h2 class="post-header__title--secondary"><a class="post-header__title-link" href="{{url}}">{{{title}}}</a></h2>
            <p class="post__excerpt__p">{{excerpt words="15"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
              </section>
              {{ else }}
              <section class='small-12 columns'>
              <h2 class="post-header__title--secondary"><a class="post-header__title-link" href="{{url}}">{{{title}}}</a></h2>
              <p class="post__excerpt__p">{{excerpt words="15"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
                </section>
          {{/if}}
          </div>{{!row}}
          {{#unless @last}}<hr class='home__hr'/>{{/unless}}
        </article>
      {{/foreach}}
    </div>
    <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns show-for-large'>
      {{> sidebar}}
    </div>
</div>
{{!-- CHANGE this filter to filter for the category you'd like --}}
{{#get "posts" filter="tag:[podcast,video]" limit="4" as |books|}}
{{#if books}}
<div class='row'>
  <div class='small-12 columns'>
    {{!-- CHANGE this url to "/tag/<tagname>" to link to the tag addres --}}
    <h2 class='home__books-section-heading'><a class="home__books-section-heading__a" href="{{@site.url}}/media">{{t "Book Summaries"}}</a></h2>
  </div>
</div>
<div class='row home__books'>
  {{#foreach books}}
    <div class='small-12 medium-6 large-3 {{#if @last}}end{{/if}} columns'>
        <a href='{{url}}'><img class="home__books-img" src="{{img_url feature_image}}" alt="{{t "Feature image for"}} {{title}}"/></a>
      <h3 class="home__books-header"><a class="home__books-link" href="{{url}}">{{{title}}}</a></h3>
            <p class="home__books-excerpt">{{excerpt words="20"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
    </div>
  {{/foreach}}
</div>
{{/if}}
{{/get}}
<div class='row post-page__recommendations'>
  <div class='small-12 medium-8 medium-offset-2 large-4 large-offset-1 large-push-7 columns subscribe-box'>
    {{> subscribebox}}
  </div>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-pull-5 large-offset-1 end columns'>
    {{#foreach normal_posts from="4"}}
      <article class="{{post_class}} post">
        <div class='row'>
        {{#if feature_image}}
          <section class='small-4 columns'>
          <a href='{{url}}'><img class="post-header__feature-img--secondary" src="{{img_url feature_image}}" alt="{{t "Feature image for"}} {{title}}"/></a>
          </section>
          <section class='small-8 columns'>
            <h2 class="post-header__title--secondary"><a class="post-header__title-link" href="{{url}}">{{{title}}}</a></h2>
            <p class="post__excerpt__p">{{excerpt words="15"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
            </section>
        {{else}}
          <section class='small-12 columns'>
            <h2 class="post-header__title--secondary"><a class="post-header__title-link" href="{{url}}">{{{title}}}</a></h2>
            <p class="post__excerpt__p">{{excerpt words="15"}}{{#unless custom_excerpt}}&hellip;{{/unless}}</p>
          </section>
        {{/if}}
        </div>{{!row}}
        {{#unless @last}}<hr class='home__hr'/>{{/unless}}
      </article>
    {{/foreach}} 
    {{ pagination }}
  </div>
</div>
{{/get}}
<div class='row'>
  <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns hide-for-large'>
    <br/>
    {{> sidebar}}
  </div>
</div>
    
{{> footer}}
