{{!< default}}
{{> header}}
{{#post}}
<div class='row'>
    <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 columns'>
      <section class='post-page-header'>
      {{#has visibility="members"}}<span class='members-flare'><img src='{{asset "img/lock.svg"}}'> Members only</span>&nbsp;&nbsp;{{/has}}
      <h1 class="post-page-header__title">{{title}}</h1>
      {{#if feature_image}}<img src='{{img_url feature_image}}'/>{{/if}}
      </section>
      <section class='post-page-content'>
      {{#if access}}
        {{ content }}
      {{else}}
        {{#if custom_excerpt}}
          <p class='post__custom-excerpt'>{{custom_excerpt}}</p>
        {{/if}}
        {{> members-only}}
      {{/if}}
      </section>
    </div>
  <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns'>
    {{> sidebar}}
  </div>
</div>
{{/post}}
{{> footer}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
    var $postContent = $(".post-page-content");
    $postContent.fitVids();
  });
</script>
{{/contentFor}}

