{{!< default}}
{{> header}}
{{#post}}
<div class='row'>
    <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 columns'>
      <section class='post-page-header'>
      <span class='post-page-header__tag-bar'>{{tags separator=", "}}</span>
      <h1 class="post-page-header__title">{{title}}</h1>
      <div class='post-page-header__metadata-bar'>{{t "By"}} {{authors}}</div>
      {{#if feature_image}}<img src='{{img_url feature_image}}' alt='{{t "Feature image for"}} {{title}}'/>{{/if}}
      </section>
      <section class='post-page-content'>
      {{ content }}
      </section>
    </div>
  <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns'>
    {{> sidebar}}
  </div>
</div>
<div class='row post-page__bottom-meta'>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 ck-subscribe-box end columns'>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://managementforstartups.us2.list-manage.com/subscribe/post?u=dd8ba3965ada8bf2d0fa846ac&amp;id=6c377f3bc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class='bg-faded-red pa3'>
          <h2 class='f2-ns f3 tc mt3 mb1 lh-title'>Sign Up for the MFS Newsletter</h2>
          <h3 class='f4-ns f5 tc mt1 silver fw1'>Subscribe to get the latest MFS articles and podcasts</h3>
          <div class="mc-field-group">
            <label for="mce-FNAME" class='f5 mb2'>First Name </label>
            <input type="text" value="" name="FNAME" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL" class='f5 mb2'>Email Address</label>
            <input type="email" value="" name="EMAIL" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dd8ba3965ada8bf2d0fa846ac_6c377f3bc9" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="pv3 link dim pointer bg-mfs-red white ba br2 b--light-red f5 w-100 mt3"></div>
          <p class='mid-gray f6 tc mt3'>No spam ever, and we take your email privacy seriously. Unsubscribe at any time.</p>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

    </br>
  </div>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 end columns'>
    <div class='row small-uncollapse medium-collapse large-collapse'>
      {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="3" as |related_posts|}}
        <div class='small-12 columns post-page__related'>
          <h2 class='post-page__related__heading'>{{t "More in"}} {{../primary_tag.name}}:</h2>
          <ul class='post-page__related__ul'>
          {{#foreach related_posts}}
            <li class='post-page__related__li'><a class='post-page__related__a' href='{{url}}'>{{title}}</a></li>
          {{/foreach}}
          </ul>
        </div>
        {{/get}}
      {{/if}}
    </div><!--row-->
    <div class='row small-uncollapse'>
      <div class='small-12 medium-6 columns post-page__next-prev--left'>
      {{#prev_post}}
          <h4 class='post-page__next-prev__subheading'>{{t "Previous post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">&larr; {{title}}</a></h3>
      {{/prev_post}}
      </div>
      <div class='small-12 medium-6 columns post-page__next-prev--right'>
      {{#next_post}}
          <h4 class='post-page__next-prev__subheading'>{{t "Next post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">{{title}} &rarr;</a></h3>
      {{/next_post}}
      </div>
    </div><!--row-->
  </div>
</div>
{{/post}}
{{> footer}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
    var $postContent = $(".post-page-content");
    $postContent.fitVids();
  });
</script>
{{/contentFor}}
