{{!< default}}
{{> header}}
{{#post}}
<div class='row'>
    <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 columns'>
      <section class='post-page-header'>
      <span class='post-page-header__tag-bar'>{{tags separator=", "}}</span>
      <h1 class="post-page-header__title">{{title}}</h1>
      <div class='post-page-header__metadata-bar'>{{t "By"}} {{authors}}</div>
      {{#if feature_image}}<img src='{{img_url feature_image}}' alt='{{t "Feature image for"}} {{title}}'/>{{/if}}
      </section>
      <section class='post-page-content'>
      {{ content }}
      </section>
      <section class='post-page__date_info'>
      Originally published <time class='' datetime="{{date published_at format='DD MMMM YYYY'}}">{{date published_at format="DD MMMM YYYY"}}, last updated <time class='' datetime="{{date updated_at format='DD MMMM YYYY'}}">{{date updated_at format="DD MMMM YYYY"}}</time>.
      </section>
    </div>
  <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns'>
    {{> sidebar}}
  </div>
</div>
<div class='row post-page__bottom-meta'>
  <div class='small-12 medium-8 medium-offset-2 large-4 large-offset-1 large-push-7 columns paddingless'>
    <div class='subscribe-box'>
      {{> subscribebox}} 
    </div>
    <div>&nbsp;&nbsp;</div>
  </div>
  <div class='small-12 medium-8 medium-offset-2 large-6 large-pull-5 large-offset-1 end columns'>
    <div class='row small-uncollapse medium-collapse large-collapse'>
      {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="3" as |related_posts|}}
        <div class='small-12 columns post-page__related'>
          <h2 class='post-page__related__heading'>{{t "More in"}} {{../primary_tag.name}}:</h2>
          <ul class='post-page__related__ul'>
          {{#foreach related_posts}}
            <li class='post-page__related__li'><a class='post-page__related__a' href='{{url}}'>{{title}}</a></li>
          {{/foreach}}
          </ul>
        </div>
        {{/get}}
      {{/if}}
    </div><!--row-->
    <div class='row small-uncollapse'>
      <div class='small-12 medium-6 columns post-page__next-prev--left'>
      {{#prev_post}}
          <h4 class='post-page__next-prev__subheading'>{{t "Previous post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">&larr; {{title}}</a></h3>
      {{/prev_post}}
      </div>
      <div class='small-12 medium-6 columns post-page__next-prev--right'>
      {{#next_post}}
          <h4 class='post-page__next-prev__subheading'>{{t "Next post"}}</h4>
          <h3 class='post-page__next-prev__heading'><a class='page-post__next-prev__a' href="{{url}}">{{title}} &rarr;</a></h3>
      {{/next_post}}
      </div>
    </div><!--row-->
  </div>
</div>
{{/post}}
{{> footer}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
    var $postContent = $(".post-page-content");
    $postContent.fitVids();
  });
</script>
{{/contentFor}}
