{{!< ../default}}
{{> header}}
{{#if @member.paid}}
  {{!-- Logged in: Redirect home --}}
  <script>window.location = '{{@site.url}}/account/';</script>
{{else}}
  <div class="row">
    <div class='small-12 medium-6 medium-offset-3 columns'>
      <h1 class='offer__header'>The Commonplace Membership Program</h1>
      <hr/>
      
      <p>Commonplace is a blog about better business and career decision-making. It is consistently focused on actionable practice.</p>

      <p>The Commonplace membership gives you insider access to the best content on actionable decision making.</p>

      <hr/>
      <h2 class='offer__header'>Get Better at Making Decisions in Your Business and Your Career</h2>
      <p>If you've ever attempted to make better decisions in your business or your career, you're probably familiar with the challenges of deciding under uncertainty.</p>

      <ul>
        <li>How do you learn lessons from your past experiences?</li>
        <li>Which lessons should you learn, when everything is noisy?</li>
        <li>What percentage of your outcomes is due to luck?</li>
        <li>How do you think about making career bets?</li>
        <li>And what should you do when there is no ‘normal’? </li>
      </ul>

      <p>Since 2018, Commonplace has grappled with these questions. We've covered <strong>better methods for learning real-world skills</strong>, the challenge of <strong>fast adaptation under uncertainty</strong>, how to <strong>think better</strong>, what is <strong>true vs what is useful</strong>, and more.</p>

      <p>Unlike other blogs in this genre, we've focused on <a href='https://commoncog.com/blog/action-produces-information/'>actionable ideas</a>, tested by <a href='https://commoncog.com/blog/believability/'>believable people</a> through <a href='https://commoncog.com/blog/practice-as-the-bar-for-truth/'>real world use</a>.</p>

      <p>The Commonplace membership program is designed to build a community of practice around these ideas. </p>
      <hr/>
      <h2 class='offer__header'>What You'll Receive:</h2>
      <hr/>

      <p>When you sign up for a Commonplace Membership, you'll become part of a community of practitioners. You'll gain access to:</p>

        <p><strong>Members-only Posts</strong> — Commonplace posts are limited to members every other week. You may read all <a href='{{@site.url}}/members/'>members-only posts here</a>.</p>
        <p><strong>Commonplace Guides</strong> — you’ll get free access to every book that Commonplace will ever publish. These are known as the <a href='{{@site.url}}/guides/'>Commonplace Guides</a>, which are constantly updated <em>actionable</em> handbooks on core topics like career moats, learning science, and avoiding burnout. These guides will be updated as I uncover new research, or conclude new experiments.</p>
        <p><strong>Access to the Commonplace Forums</strong> — you'll become part of a <a href="https://forum.commoncog.com/">private community</a> that is focused on practice, not merely discussion. Once a week, every week, we share our experiments and our goals, and then report back on how we did on those experiments. Commonplace blog comments are also limited to members.</p>
        <p><img src='{{asset "img/commonplace_forum.png"}}'></p>
        <p><strong>Early access and discounts on the Commoncog app</strong> — Members get early-access to the <a href='https://commoncog.com'>Commoncog app</a> when it reaches beta, and a special discount when it reaches general availability.</p>
        <p><strong>Action Sheets</strong> — summarised actionable items from Commonplace blog posts. Just the basic principles that you can refer to when you’re about to put the ideas to practice. (<a href='https://commoncog.com/blog/commonplace-action-sheets/'>More about Action Sheets here &rarr;</a>)</p>

        <p>If you find the blog posts on Commonplace valuable, you’ll love what I’ve planned for members. </p>

        <p>Your subscription allows me to keep producing Commonplace. It also gives me the freedom to build Commoncog.</p>

        <p>On the writing end of things, it allows me to go deep on topics that might be useful to members. And it allows me to keep producing the free posts that you know and love.</p>
        <hr/>
        <h2 class='offer__header'>Sign up for a Commonplace Membership:</h2>
        <hr/>
    </div>
  </div>
    <div class="row">
    <div class="small-12 offer__yearly-column columns">
      <h2 class='offer__plan-header'>Yearly</h2>
      <h3 class='offer__price-header'></h3>
      <p><span class='upper'>{{@price.currency}}</span>{{price currency=@price.currency}}{{@price.yearly}} a year ($12.50 a month)</p>
      <a href="javascript:" data-members-plan="Yearly" data-members-success="{{@site.url}}/payment-success/" data-members-cancel="{{@site.url}}/signup/" class="button large offer__btn">Subscribe Yearly <em>(<span class='upper'>{{@price.currency}}</span>{{price currency=@price.currency}}{{@price.yearly}}/yr)</em></a>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 medium-6 medium-offset-3 columns'>
      <hr/>
      <p class='lato'><small><strong>The finicky details:</strong> payment is handled securely by Stripe. We do not store your credit card information. Member emails will be added to a members-only mailing list, which would be used for forum updates and an occasional newsletter. Your personal information will <em>never</em> be sold to a third party. If you'd like to cancel your subscription at any time, go to the membership management page in the sidebar or email cedric [@] commoncog.com. Prorated refunds will be issued for annual subscriptions.</small></p>
    </div>
  </div>
</div>
{{/if}}
{{>footer}}
